@import url(https://fonts.googleapis.com/css?family=Merriweather:400,700italic,700,400italic);
 body {
	 background-color: #333;
	 color: #fff;
	 font-family: 'Merriweather', serif;
	 font-size: 1.2em;
	 line-height: 1.5em;
	 letter-spacing: 1px;
}
 cite {
	 font-weight: 700;
}
 .col-text {
	 background-color: #458599;
}
 .flex-quotes {
	 display: flex;
	 flex-grow: 1;
	 border-bottom: 4px solid #fff;
	 height: 19vh;
}
 .col {
	 flex: 1;
}
 .col-text {
	 flex: 1.5;
}
 @media (min-width: 640px) {
	 .col-text {
		 border-left: 4px solid #fff;
	}
}
 .col-left {
	 order: -1;
}
 @media (min-width: 640px) {
	 .col-left {
		 border-left: none;
		 border-right: 4px solid #fff;
	}
}
 .col-text p {
	 padding: 2em;
	 margin: 0;
}
 .col-image {
	 display: none;
}
 @media (min-width: 640px) {
	 .col-image {
		 display: flex;
		 background-size: cover;
	}
}
 